In [25]:
import pandas as pd, numpy as np
pd.set_option("display.max_columns", None)
path = "../data/processed/marketing_campaign_clean1.csv"
df = pd.read_csv(path, sep=",")

In [59]:
df['MntMeatProducts'].dtype

dtype('int64')

In [12]:
df.columns

Index(['ID', 'Year_Birth', 'Education', 'Marital_Status', 'Income', 'Kidhome',
       'Teenhome', 'Dt_Customer', 'Recency', 'MntWines', 'MntFruits',
       'MntMeatProducts', 'MntFishProducts', 'MntSweetProducts',
       'MntGoldProds', 'NumDealsPurchases', 'NumWebPurchases',
       'NumCatalogPurchases', 'NumStorePurchases', 'NumWebVisitsMonth',
       'AcceptedCmp3', 'AcceptedCmp4', 'AcceptedCmp5', 'AcceptedCmp1',
       'AcceptedCmp2', 'Complain', 'Z_CostContact', 'Z_Revenue', 'Response',
       'AcceptedCmpOverall'],
      dtype='object')

In [13]:
df.loc[214, 'ID']

np.int64(0)

In [26]:
display(df.head())

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response,AcceptedCmpOverall
0,5524,1957,Graduation,Single,58138.0,0,0,2012-09-04,58,635,88,546,172,88,88,3,8,10,4,7,0,0,0,0,0,0,3,11,1,0
1,2174,1954,Graduation,Single,46344.0,1,1,2014-03-08,38,11,1,6,2,1,6,2,1,1,2,5,0,0,0,0,0,0,3,11,0,0
2,4141,1965,Graduation,Together,71613.0,0,0,2013-08-21,26,426,49,127,111,21,42,1,8,2,10,4,0,0,0,0,0,0,3,11,0,0
3,6182,1984,Graduation,Together,26646.0,1,0,2014-02-10,26,11,4,20,10,3,5,2,2,0,4,6,0,0,0,0,0,0,3,11,0,0
4,5324,1981,PhD,Married,58293.0,1,0,2014-01-19,94,173,43,118,46,27,15,5,5,3,6,5,0,0,0,0,0,0,3,11,0,0

In [61]:
df['Marital_Status'] = df['Marital_Status'].replace({
    "YOLO": "Single",
    "Absurd": "Single",
    "Alone": "Single",
})

In [62]:
print(df["Marital_Status"].value_counts())

Marital_Status
Married     1441
Single       487
Divorced     232
Widow         77
Name: count, dtype: int64

In [63]:
bad_age = (df['Year_Birth'] < 1900) | (df['Year_Birth'] > 2005)

df = df.drop(index=df[bad_age].index)

print("Remaining Year_Birth range:", df["Year_Birth"].min(), "–", df["Year_Birth"].max())

Remaining Year_Birth range: 1900 – 1996

In [66]:
df.drop(index=2235, inplace=True)

In [67]:
2235 in df.index

False

In [72]:
from datetime import datetime

df['Dt_Customer'] = pd.to_datetime(df['Dt_Customer'])

wrong_dates = (df['Dt_Customer'] < datetime(2012, 8, 14)) | (df['Dt_Customer'] > datetime(2014, 6, 29))

df = df.drop(index=df[wrong_dates].index)

In [73]:
print(df["Dt_Customer"].min(), "→", df["Dt_Customer"].max())

2012-08-14 00:00:00 → 2014-06-29 00:00:00

In [77]:
mask_bad_income = df["Income"] > 200_000

df = df.drop(index=df[mask_bad_income].index)

print("New income max:", df["Income"].max())  # should be ≤ 200000

New income max: 162397.0

In [79]:
from pathlib import Path

processed_dir = Path("../data/processed")
processed_dir.mkdir(parents=True, exist_ok=True)

output_path = processed_dir / "marketing_campaign_clean_full.csv"
df.to_csv(output_path, index=False)